
.btnwrap {
    width: 210px;
}

.btnwrap-right {
    float: right;
    width: 374px;
}

.btnwrap-right > div {
    float: left;
}

select {
    margin: 0;
    float: left;
}

.btn-sm.btn-primary {
    float: left;
}

.pagination {
    float: right;
    margin: 0 5px 0 0;
}

td {
    vertical-align: middle !important;
}

th:focus {
    outline: none;
}

.dataTables_length {
    margin-right: 10px;
}

.dataTables_info {
    margin: 0 0 0 10px;
    width: auto;
}

.dataTables_length label, .dataTables_filter label {
    white-space: nowrap;
}

.btn.btn-sm.btn-primary {
    margin-top: 22px;
}

button:focus {
    outline: none !important;
}

.dataTables_filter label {
    float: right;
}

.data-copy div {
    width: 200px;
    max-height: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

table .even {
    xbackground-color: #e3e3e7;
}

.data-copy div br {
    display: inline;
}

/*td button {
    margin: 0 4px 4px 0;
}*/

/*fa carrort down */
.header.headerSortDown:after {
font-family: 'FontAwesome';
  content: "\f0d7";
  margin-left: 4px
}

/*fa carrrot up */
.header.headerSortUp:after {
    font-family: 'FontAwesome';
  content: "\f0d8";
  margin-left: 4px
}

/*.header.headerSortDown:first-child:after,
.header.headerSortUp:first-child:after {
    content: "";
}

.header.headerSortUp:last-child:after,
.header.headerSortDown:last-child:after {
    content: "";
}*/
